<div class="row">
  <h1 class="col-md-12">Product List</h1>
  <div class='col-md-12'>Filter by: <input type='text' [(ngModel)]='listFilter' /> {{listFilter}}</div>
  <div class="col-md-12 table-responsive">
    <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button 
                              class='btn btn-primary'(click)='toggleImage()'>
                                {{showImage ? 'hide image': 'show image'}}
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productFilter: listFilter'>
                      <td>
                        <img 
                        class="productImg" 
                        src={{product.imageUrl}} 
                        *ngIf='showImage'></td>
                      <td>{{ product.productName }}</td>
                      <td>{{ product.productCode | lowercase }}</td>
                      <td>{{ product.releaseDate }}</td>
                      <td>{{ product.price | currency: 'USD':true: '1.2-2'}}</td>
                      <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
  </div>
</div>